<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-slate-50 p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-medium mb-6 text-center"><%= t('.title') %></h1>
    <%= form_with model: @user, url: profile_path, method: :put do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">アカウント名</span>
        </div>
        <%= f.text_field :name, class: "input input-bordered w-full bg-slate-50" %>
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">メールアドレス</span>
        </div>
        <%= f.text_field :email, class: "input input-bordered w-full bg-slate-50" %>
      </label>
      <div class="flex mt-4 justify-end">
        <%= f.submit nil, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
