<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-slate-50 p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-medium mb-6 text-center font-mplus_rounded_1c"><%= t('.title') %></h1>
    <div class="space-y-6 font-mplus_rounded_1c">
      <label class="form-control w-full space-y-1">
      <div class="label">
        <span class="label-text font-medium text-gray-700">
          <%= User.human_attribute_name(:name) %>
        </span>
      </div>
      <div class="label">
        <span class="label-text-alt text-gray-900">
          <%= current_user.decorate.name %>
        </span>
      </div>
    </label>

      <label class="form-control w-full">
        <div class="label mt-6">
          <span class="label-text font-medium text-gray-700">
            <%= User.human_attribute_name(:email) %>
          </span>
        </div>
        <div class="label">
          <span class="label-text-alt text-gray-900">
            <%= current_user.email %>
          </span>
        </div>
      </label>
    </div>
    <div class="flex mt-12 justify-end">
      <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
