<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-medium mb-6 text-center font-noto"><%= t('.title') %></h1>
      <%= form_with url: password_resets_path, class: "space-y-4 font-noto" do |f| %>
        <div class="mb-3">
          <%= f.label :email, class: "block text-gray-700 text-sm font-medium mb-2" %>
          <%= f.email_field :email, class: 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500' %>
        </div>
        <%= f.submit t('.submit'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
