<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-medium mb-6 text-center"><%= t('.title') %></h1>
    <%= form_with model: @user, class: "space-y-4" do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="input input-bordered flex items-center gap-2 w-full">
        <%= f.label :name, class: "w-1/3 text-left" %>
        <%= f.text_field :name, class: "grow" %>
      </div>

      <div class="input input-bordered flex items-center gap-2 w-full">
        <%= f.label :email, class: "w-1/3 text-left" %>
        <%= f.email_field :email, class: "grow" %>
      </div>

      <div class="input input-bordered flex items-center gap-2 w-full">
        <%= f.label :password, class: "w-1/3 text-left" %>
        <%= f.password_field :password, class: "grow" %>
      </div>

      <div class="input input-bordered flex items-center gap-2 w-full">
        <%= f.label :password_confirmation, class: "w-1/3 text-left" %>
        <%= f.password_field :password_confirmation, class: "grow" %>
      </div>

      <div class="flex justify-center">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to t('.to_login_page'), login_path, class: "text-gray-700" %>
    </div>
  </div>
</div>

