<div class="bg-neutral fixed top-0 z-50 flex h-16 w-full justify-center bg-opacity-90">
  <nav class="navbar w-full">
    <div class="flex flex-1">
      <%= link_to 'CHOCOLATE DUCK', '/', class: 'btn btn-ghost font-nunito text-xl text-accent' %>
    </div>
    <div class="hidden md:flex space-x-4 mr-4 font-mplus_rounded_1c font-semibold">
      <ul class="list-none flex space-x-4">
        <li>
          <%= link_to t('header.signup'), new_user_path, class: "text-accent" %>
        </li>
        <li>
          <%= link_to t('header.login'), login_path, class: "text-accent" %>
        </li>
      </ul>
    </div>

    <div class="flex-none md:hidden">
      <div class="dropdown dropdown-hover dropdown-end">
        <div tabindex="0" role="button">
          <button class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-5 w-5 stroke-accent">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
            </svg>
          </button>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-slate-50 rounded-box z-[1] w-52 p-2 shadow font-mplus_rounded_1c">
          <li><%= link_to t('header.signup'), new_user_path %></li>
          <li><%= link_to t('header.login'), login_path %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
