<% content_for(:title, @board.title) %>
<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-slate-50 p-6 rounded-lg shadow-lg font-mplus_rounded_1c">
    <div class="flex items-center justify-center gap-4 mb-6">
      <div class="text-2xl"><%= "#{@board.title}" %></div>
      <div><%= "by #{@board.user.decorate.name}" %></div>
    </div>
    <div class="w-full mt-12 my-12">
      <%= image_tag @board.board_image_url, class: "object-contain w-32 h-32 mx-auto rounded-md shadow-xl" %>
    </div>
    <div class="text-center mt-6 text-gray-700">
      <%= simple_format(@board.body) %>
    </div>
    <div class="flex justify-center mt-6 text-gray-700 gap-4">
      <p class="text-yellow-700">ちゃいろ度： <%= @color_percentages[:brown] %>%</p>
      <p class="text-yellow-400">きいろ度： <%= @color_percentages[:yellow] %>%</p>
    </div>
    <div class="text-center mt-6">
      <%= link_to "ずかん一覧へ", boards_path, class: "mr-4" %>
    </div>
    <div class='text-center mt-6 mb-6 flex items-center justify-center gap-4'>
      <%= link_to "https://twitter.com/intent/tweet?text=#{CGI.escape("ちゃいろときいろ ずかんに登録したよ！")}&hashtags=#{CGI.escape("CHOCOLATE_DUCK,RUNTEQ祭")}&url=#{CGI.escape(board_url(@board))}", target: "_blank", class: "p-2" do %>
        <i class="fa-brands fa-square-x-twitter fa-xl"></i>
      <% end %>
      <% if logged_in? && current_user.own?(@board) %>
        <%= link_to edit_board_path(@board), id: "button-edit-#{@board.id}", class: "p-2" do %>
          <i class="fa-solid fa-pen-to-square fa-xl"></i>
        <% end %>
        <%= link_to board_path(@board), id: "button-delete-#{@board.id}", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')}, class: "p-2" do %>
          <i class="fa-regular fa-trash-can fa-xl"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
