<div class="container mx-auto">
  <h1 class="text-center mt-6 text-2xl font-bold"><%= "#{@board.title}" %></h1>
  <div class='text-center mt-4'><%= "by #{@board.user.decorate.name}" %></div>
  <div class="w-full mt-6">
    <%= image_tag @board.board_image_url, class: "object-contain w-72 h-72 mx-auto mb-6 rounded-md shadow-xl" %>
  </div>
  <div class="text-center mt-4 text-gray-700"><%= simple_format(@board.body) %>
  <div class="text-center mt-6 text-gray-700"><%= l @board.created_at, format: :long %>
  <div class='text-center mt-6 mb-6'>
    <% if logged_in? && current_user.own?(@board) %>
      <%= link_to '編集', '#', id: "button-edit-#{@board.id}", class: "btn btn-primary" %>
      <%= link_to '削除', '#', id: "button-delete-#{@board.id}", data: {turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm')}, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class='text-center mb-6'>
    <%= link_to "投稿一覧へ", boards_path %>
  </div>
</div>
