<% content_for(:title, t('.title')) %>
<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full mx-auto bg-slate-50 p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-medium mb-6 text-center font-mplus_rounded_1c"><%= t('.title') %></h1>
    <%= form_with url: login_path, class: "space-y-4 font-mplus_rounded_1c" do |f| %>
      <div class="input input-bordered flex flex-row items-center gap-2 w-full bg-slate-50">
        <%= f.label :email, class: "text-left whitespace-nowrap pr-2" %>
        <%= f.email_field :email, class: "w-full grow" %>
      </div>

      <div class="input input-bordered flex flex-row items-center gap-2 w-full bg-slate-50">
        <%= f.label :password, class: "text-left whitespace-nowrap pr-2" %>
        <%= f.password_field :password, class: "w-full grow" %>
      </div>

      <div class="flex items-center gap-4">
        <%= f.submit t('.login'), class: "btn btn-primary" %>
        <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
          <%= image_tag "sign_in_with_google.png" %>
        <% end %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to t('.password_forget'), new_password_reset_path, class: "text-gray-700" %>
    </div>
  </div>
</div>
